@font-face {
  font-family: "Mukta", sans-serif;
  src: local("Mukta"),
    url("../assets/fonts/Mukta/Mukta-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Mukta", Arial, sans-serif;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #07827e;
  color: #faf6f2;
  padding: 0 40px;
}

.logo {
  display: flex;
  width: 90px;
  height: 90px;
}

nav {
  display: flex;
  width: 700px;
  padding: 0 40px;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav ul li a {
  color: #faf6f2;
  text-decoration: none;
  transition: 0.5s;
}

.nav a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #faf6f2;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -10%);
}
.burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
/* Section Styles */
section {
  padding: 50px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  margin-top: 0;
}
.section_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
}
.section_title__services {
  color: #07827e;
}
.hero {
  background-image: url("../img/doctor_img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container_hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #faf6f2;
}
.intro {
  font-size: 20px;
  font-style: italic;
}
.services {
  background-color: #faf6f2;
  padding-top: 65px;
}

.services__card {
  width: 85%;
  padding: 30px 25px;
  text-align: center;
  justify-self: center;
  place-items: center;
  line-height: 1.6;
  color: #faf6f2;
}
.services__title {
  font-size: 30px;
  text-align: center;
}
.services-cards__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  margin-bottom: 30px;
}
.services-cards__bottom {
  display: grid;
  text-align: center;
  line-height: 1.6;
}
.services__title {
  place-items: center;
  text-align: center;
}

.prestazioni {
  background-color: #333;
  border-radius: 2%;
  text-align: center;
}

.pathologies {
  background-color: #333;
  border-radius: 2%;
  text-align: center;
}
.diagnostics {
  place-items: center;
  text-align: center;
  background-color: #07827e;
  padding: 30px;
  margin-top: 15px;
  width: 100%;
}

.cosmetology {
  background-color: #333;
  color: #faf6f2;
}
.cosmetology__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  padding-bottom: 60px;
  margin-bottom: 30px;
}
.cosmetology__description {
  line-height: 1.6;
}
.cosmetology_img {
  width: 100%;
  height: auto;
}
.swiper {
  display: flex;
  width: 100%;
  height: auto;

  margin: 0 auto;
}
.swiper-wrapper {
  box-sizing: content-box;
}
.swiper-slide {
  display: flex;
}
.result_pic {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-button-prev {
  left: 20px;
}
.swiper-button-next {
  right: 20px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #07827e;
  font-size: 30px;
}
.swiper-pagination-bullet {
  background-color: transparent;
  width: 10px;
  height: 10px;
  opacity: 1;
  border: 2px solid #07827e;
}
.swiper-pagination-bullet-active {
  background-color: #07827e;
}

.before-after {
  background-color: #faf6f2;
}

.profile {
  background-color: #faf6f2;
}

.profile__text {
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #07827e;
  color: #faf6f2;
  padding: 20px;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}
footer a {
  text-decoration: none;
  color: #faf6f2;
}
footer a:hover {
  background-color: #333;
  color: #faf6f2;
  text-decoration: underline;
}
.contacts {
  font-weight: 600;
}
/* Media Queries */

@media (max-width: 1024px) {
  section {
    padding: 40px;
  }
  .hero {
    background-size: cover;
  }
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }
  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 50 px;
    background-color: #333;
    animation: burgerAnimation 0.4s;
  }
  .open {
    display: flex;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
  .hero {
    background-size: cover;
  }
  .container_hero {
    flex-direction: column;
    align-items: center;
  }
  .services-cards__top,
  .services-cards__bottom {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .services__card {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  section {
    padding: 30px;
  }
  .hero {
    background-size: cover;
  }
  .container_hero {
    flex-direction: column;
    align-items: center;
  }
  .services-cards__top,
  .services-cards__bottom {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .services__card {
    width: 100%;
    padding: 20px;
  }
  .prestazioni {
    border-radius: 0%;
  }
  .pathologies {
    border-radius: 0%;
  }
  .cosmetology__wrap {
    grid-template-columns: 1fr;
  }
  .cookie-popup {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  .section_title {
    font-size: 30px;
    font-weight: 800;
  }
  .hero {
    background-size: cover;
  }
  .container_hero {
    flex-direction: column;
    align-items: center;
  }
  .services-cards__top,
  .services-cards__bottom {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .services__card {
    width: 100%;
    padding: 20px;
  }
  .prestazioni {
    border-radius: 0%;
  }
  .pathologies {
    border-radius: 0%;
  }
  .cosmetology__wrap {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .cookie-popup {
    max-width: 300px;
  }
}

@media (max-width: 340px) {
  .section_title {
    font-size: 30px;
  }
  .hero {
    background-size: cover;
  }
  .container_hero {
    flex-direction: column;
    align-items: center;
  }
  .services-cards__top,
  .services-cards__bottom {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .services__card {
    width: 100%;
    padding: 20px;
  }
  .prestazioni {
    border-radius: 0%;
  }
  .pathologies {
    border-radius: 0%;
  }
  .cosmetology__wrap {
    grid-template-columns: 1fr;
  }
  .cookie-popup {
    max-width: 300px;
  }
}

.cookie-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #07827e;
  color: #faf6f2;
  padding: 10px 20px;
  border-top: 1px solid #333;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.cookie-content {
  display: flex;
  justify-content: space-between;
}

.close {
  cursor: pointer;
  font-size: 20px;
}

.close:hover {
  color: #333;
}
